{{ define "footer" }}
<footer>
  <hr class="hr">
  <nav aria-label="About this site">
    <a href="/_docs/accessibility-statement">Accessibility statement</a>
    <hr class="inline-hr">
    <a href="https://github.com/mmatongo/yuma">View source</a>
  </nav>
</footer>
{{ end }}
